#header{
    font-size: 40px;
    display: flex;
    flex-direction: row;
}

#header #title{
    font-weight: bolder;
}

#header #round{
    justify-items: center;
    margin-left: auto;
}


#header #currentPlayer{
    justify-content: flex-end;
    margin-left: auto;
}
